div.card {
  width: 200px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  cursor: pointer;
}

div.header {
  background-color: SeaGreen;
  color: white;
  padding: 0.5px;
}

div.container {
  padding: 40px;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr); /* or simply "1fr 1fr;" */
  grid-row-gap: 10px;
  grid-column-gap: 1px;
}

.row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-row-gap: 20px;
  grid-column-gap: 10px;
}
